* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background: black;
  color: white;
}

/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  z-index: 10;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  color: cyan;
  text-decoration: none;
}

/* LOGO */
.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(69,170,150);
}

.logo span {
  color: white;
}

/* HERO */
#hero {
  position: relative;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  position: absolute;
  inset: 0;
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 1;
}

.console { color: cyan; }

h1 {
  font-size: 4rem;
  margin: 15px 0;
}

h1 span {
  background: linear-gradient(90deg, cyan, blue);
  -webkit-background-clip: text;
  color: transparent;
}

.code span { color: cyan; }

.icons a {
  margin: 10px;
  color: cyan;
  text-decoration: none;
}

/* SECTIONS */
section:not(#hero) {
  padding: 100px 60px;
}

h2 {
  color: cyan;
  margin-bottom: 20px;
}

/* TAGS */
.tags span {
  margin: 6px;
  padding: 6px 14px;
  border: 1px solid cyan;
  display: inline-block;
}

/* PROJECT CARD */
.project-card {
  max-width: 500px;
  border: 1px solid cyan;
  padding: 20px;
}

.github-link {
  color: cyan;
  text-decoration: none;
}

/* GITHUB */
#github {
  text-align: center;
}

.github-text {
  margin-bottom: 20px;
}

.github-graph img {
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
}

/* MOBILE */
@media (max-width: 768px) {
  nav {
    padding: 12px 20px;
  }

  nav ul {
    gap: 15px;
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  section:not(#hero) {
    padding: 70px 20px;
  }
}
.footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #e63946; /* red */
  border-top: 1px solid #222;
}
